.button {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 55px;    
    border: none;
    border-radius: 50px  50px;
    background-color: #fa6b0bd3;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    &:focus {
        outline: none;
    }
    &_marvel {
        width: 220px;
        position: absolute;
        right: 20px;
        bottom: -25px;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.705);
        font-size: 17px;
        font-weight: 600;
        box-shadow: 0 4px 15px -5px rgba(0,0,0,0.5);
        
    }
    &_services {
        display: initial;
        margin-top: 45px;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.705);
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        box-shadow: 0 4px 15px -5px rgba(0,0,0,0.5);
    }
    &-team {
        position: absolute;
        transform: translateX(50%);
        right: 50%;
        bottom: -15px;
        width: 260px;
        height: 95px;
        background: #fff;
        border: none;
        box-shadow: 0 4px 15px -5px rgba(0,0,0,0.5);
        color: rgba(0, 0, 0, 0.705);
        text-align: center;
        &_name {
            font-size: 30px;
            font-weight: 600;
        }
        &_info {
            font-size: 15px;
            font-weight: 500;
        }
               
    }

}