.button {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 55px;
    border-radius: 50px  50px;
    border: none;
    background-color: #fa6b0bd3;
    font-weight: 600;
    color: #fff;
    text-align: center;
}