.logo {
    height: 200px;
    background: #e0dada21;
    padding: 75px 0 95px 0;
    &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}