.marvel {
    position: relative;
    min-height: 770px;
    padding: 140px 0 150px 0;
    &__group {
        position: relative;
        margin-top: 110px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-item {
        position: relative;
        width: 260px;
        height: 267px;
        padding: 50px 30px 65px 30px;
        color: #fff;
        text-align: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        &:nth-child(1) {
            background-color: rgb(47, 180, 241);
        }
        &:nth-child(2) {
            background-color: rgb(166, 43, 248);
        }
        &:nth-child(3) {
            background-color: royalblue;
        }
        &:nth-child(4) {
            background-color: rgb(184, 46, 46);
        }
        h2 {
            margin-top: 25px;
            font-size: 20px;
            font-weight: 600;
        }
        &__text {
            margin-top: 20px;
            font-size: 13px;
            font-weight: 500;
        }

    }
}